.galeria{
    padding: $separacion/2;
    .titulo-galeria{
        text-align: center;
    }
    .galeria-imagenes{
        list-style: none;
        @include Telefono{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;
        }
        @include Tableta{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: $separacion/2;
        }
        @include Escritorio{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: $separacion/2;
        }

    }
}
.overlay{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: grid;
    place-items: center;

    .btn-cerrar{
        background-color: $blanco;
        width: 5rem;
        height: 5rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
    }
}

